
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <img src="~/Theme/AdminPanel/dist/img/VAGroup.png" alt="Description of your image" width="1640" height="800">
        </div>
    </div>
</div>
